/* General page styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0d00ff70;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

.image {
    width: 300px; /* Change as needed */
    height: auto;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.start-button {
    background-color: #4CAF50;
    color: white;
}

.start-button:hover {
    background-color: #45a049;
}

.motivation-button {
    background-color: #c51d28;
    color: white;
}

.motivation-button:hover {
    background-color: #c6333a;
}
